---
layout:
title: 首页
description: "hacke2的前端技术博客,分享自己的技术心得,积累前段技能,汇聚前端之路的点点滴滴。"
tags: [青青flye, blog, 青青flye blog, 前端技术, javascript,css]
---
<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include head.tpl %}
<link rel="stylesheet" href="{{ site.url }}/asset/css/index.css"/>
</head>
<body>
{% include header.tpl %}
<div class="banner">
    <div class="wrapper">
        <article class="banner-title">
            <h1>老子的商道</h1>
            <p>光而不耀，低调做人。待人处事，不可逞一时之快，尽露锋芒，树敌过多，只能葬送自己的前程。收敛锋芒，独守寂寞，深藏若虚，是一种修养，也是一种策略。</p>
        </article>
    </div>
</div>
<div class="blog">
    <div class="wrapper clearfix">
        <article class="blog-1">
            <img src="{{ site.url }}/images/img1.jpg" alt="插图" width="300" height="180">
            <p>关于兴趣：首先，这些人并不是对正在做的事情没有兴趣，而是没能力把目前正在做的事情做好。</p>
            <p>你没办法对那件事情没兴趣。往往并不是有兴趣才能做好，而是做好了才有兴趣</p>
            <p>没有人喜欢自己做不好的事情。每个人都会不自觉地尽量回避自己的短处……只要一件事儿你能做好，并且做到比谁都好，或者至少比大多数人好</p>
        </article>
        <article class="blog-1">
            <img src="{{ site.url }}/images/img1.jpg" alt="插图" width="300" height="180">
            <p>只要一件事儿你能做好，并且做到比谁都好，或者至少比大多数人好，你没办法对那件事情没兴趣。</p>
            <p>往往并不是有兴趣才能做好，而是做好了才有兴趣</p>
        </article>
        <article>
            <img src="{{ site.url }}/images/img1.jpg" alt="插图" width="300" height="180">
            <p>没有人喜欢自己做不好的事情,只要一件事儿你能做好</p>
            <p>并且做到比谁都好，或者至少比大多数人好，你没办法对那件事情没兴趣。往往并不是有兴趣才能做好，而是做好了才有兴趣</p>
        </article>
    </div>
</div>
<article class="personal">
    <div class="wrapper">
        <img src="{{ site.url }}/images/{{ site.owner.avatar }}" width="172" height="172" alt="头像">
        <h1>Hi,I'm {{ site.owner.name }}</h1>
        <div class="introduce">
            <p>{{ site.owner.bio }}</p>
        </div>
    </div>
</article>
{% include footer.tpl %}
</body>
</html>